<IfModule mod_rewrite.c>
php_flag log_errors on
php_value error_log errors.log

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule v1/(.*)$ v1/index.php?request=$1 [QSA,NC,L]
</IfModule>